main {
    overflow: hidden;
}
h1, h2 {
    font-family: Archivo, Lato, sans-serif !important;
}
#top {
    z-index: 2;
}
#background-logo {
    position: relative;
}
.header-section {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}
.header-section>h2 {
    background-color: #dfe3e6;
    padding: 20px;
    padding-left: 20px;
}
#what-we-do {
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}
#what-we-do-section {
    margin-bottom: 60px;
    text-align: left;
}
#what-we-do-section h2 {
    color: #FCC201;
}
#what-we-do-section .row {
    margin-top: 30px;
    padding: 0 20px;
} 
#what-we-do-section .first {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}
#about-us {
    /*margin-bottom: 60px;*/
    margin-top: 50px;
    text-align: left;
}
#about-us h2 {
    color: #3d70b2;
    margin-bottom: 30px;
}
#about-us p {
    padding: 0 20px;
    padding-top: 10px;
}
#meet-the-team {
    margin-top: 50px;
}
#meet-the-team figure,
#meet-the-team h4,
#meet-the-team h3,
#meet-the-team p {
    text-align: center;
}
#meet-the-team h2 {
    color: #3d70b2;
}
#meet-the-team h2 {
    color: #3d70b2;
}
#meet-the-team h2.team-header {
    background: none;
    text-align: center;
    color: #5596e6;
}
#meet-the-team .row {
    margin-top: 50px;
    margin-bottom: 100px;
}
#meet-the-team .last {
    margin-top: 80px;
    margin-bottom: 0px;
}
#meet-the-team .corporate-partners {
    margin-top: 50px;
    margin-bottom: 20px;
}
#meet-the-team .item {
    padding-top: 20px;
    background-color: #E0E0E0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .06);
}
.corporate-partners .item {
    padding-top: 20px;
    background-color: #E0E0E0;
    box-shadow: 0 7px 7px -6px rgba(0, 0, 0, .05);
    margin: 0px 11px;
    /*box-shadow: 0px 15px 30px rgba(0, 0, 0, 1);*/
}
.advisors {
    margin-top: 30px;
}
#events {
    margin-top: 60px;
}
#events h2 {
    color: #3d70b2;
    margin-bottom: 30px;
}
#events .item {
    padding: 5px 20px;
}

#contact-us {
    margin-top: 40px;
}
#contact-us h2 {
    color: #3d70b2;
}
#contact-us form {
    margin-top: 30px;
    padding: 0px 20px;
}
#contact-us button {
    background-color: #3d70b2;
}
div.anchor{
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}
.is-big {
    font-size: 18px;
    line-height: 29px;
}
@media (min-width: 769px) {
    div#background-logo {
        margin-top: 90px;
        margin-bottom: 70px;
    }
    div#hero {
        /*background-color: rgba(255, 255, 255, 0.6);*/
        height: 30em;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }
}
@media (max-width: 768px) {
    div#hero {
        height: 20em;
    }
    div#background-logo {
        margin-bottom: 90px;
    }
    #nav-toggle-box {
        position: relative;
        z-index: 1;
    }
    #top{
        position: fixed;
        z-index: 1;
        width: inherit;
        max-width: inherit;
        background-color: rgba(255, 255, 255, 0.8);
    }
    #top-nav-wrapper {
        width: 100%;
    }
    #top #top-nav-main {
         /*display: block; */
        /*justify-content: left; */
        width: 100%;
        margin-left: 0px;
    }
}
.slick-prev {
    left: 20px;
    z-index: 3;
}
.slick-next {
    right: 30px;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: visible; 
    margin: 0;
    padding: 0;
    max-width: 1128px;
}
input:focus,
select:focus,
textarea:focus {
    outline-color: #3d70b2;
    outline-style: initial;
    outline-width: 0px;
    border:1px solid #3d70b2;
}
