h1, h2 {
    font-family: Archivo, Lato, sans-serif !important;
}
.header-section>h2 {
    background-color: #dfe3e6;
    padding: 20px;
    padding-left: 20px;
}
#what-we-do {
    margin-bottom: 60px;
    text-align: left;
}
#what-we-do h2 {
    color: #FCC201;
}
#what-we-do .row {
    margin-top: 30px;
    padding: 0 20px;
} 
#what-we-do .first {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}
#about-us {
    /*margin-bottom: 60px;*/
    margin-top: 80px;
    text-align: left;
}
#about-us h2 {
    color: #3d70b2;
}
#about-us p {
    padding: 0 20px;
    padding-top: 10px;
}
#meet-the-team {
    margin-top: 80px;
}
#meet-the-team figure,
#meet-the-team h4,
#meet-the-team h3,
#meet-the-team p {
    text-align: center;
}
#meet-the-team h2 {
    color: #3d70b2;
}
#meet-the-team h2 {
    color: #3d70b2;
}
#meet-the-team h2.team-section {
    background: none;
    text-align: center;
    color: #5596e6;
}
#meet-the-team .row {
    margin-top: 50px;
    margin-bottom: 100px;
}
#meet-the-team .last {
    margin-top: 80px;
    margin-bottom: 0px;
}
#meet-the-team .corporate-partner {
    margin-top: 50px;
    margin-bottom: 20px;
}
#meet-the-team .item {
    padding-top: 20px;
    background-color: #E0E0E0;
}
#events {
        margin-top: 80px;
}
#events h2 {
    color: #3d70b2;
}
#contact-us {
    margin-top: 80px;
}

div.anchor{
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}
@media (min-width: 769px) {
    div#background-logo {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    div#hero {
        /*background-color: rgba(255, 255, 255, 0.6);*/
        height: 30em;
    }
}
@media (max-width: 768px) {
    div#hero {
        height: 20em;
    }
    div#background-logo {
        margin-bottom: 90px;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.lSAction>a {
    /*background: no-repeat;*/
    background-size: contain; 
    opacity: .7;
}
.lSAction>.lSPrev {
    right: 10px;
    transform: scale(-1, 1);
}

