<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head" . }}

<body class="page-kube">
  <header>{{ block "header" . }}{{ end }}</header>
  <main>{{ block "main" . }}{{ end }}</main>
  <footer>{{ block "footer" . }}{{ end }}</footer>


  <script src="{{ "/js/kube.js" | relURL }}" type="text/javascript">
  </script>
  <script src="{{ "/js/kube.legenda.js" | relURL }}" type="text/javascript">
  </script>
  <script src="{{ "/js/master.js" | relURL }}" type="text/javascript">
  </script>
  <script src="{{ "/js/custom.js" | relURL }}" type="text/javascript">
  </script>
</body>

</html>
