<h2 class="">EVENTS</h2>
<div class="col col-12 item">
    <a href="https://innovateucsb.wixsite.com/website">
        <h3>Innovation Summit</h3>
        <p>BCUCSB collaborated with UCSB Innovation Council and other campus organizations to put together a one-day campus event (November 17, 2018) designed to foster and harness creative thinking and develop a innovative business model to improve problems found in global categories such as energy, sustainability, income inequality, digital security, and health. 
        At the event, BCUCSB members explained real-world blockchain applications and also encouraged students to explore incorporating blockchain models in their creative business ideas. On a speaker panel of industry leaders, we interviewed Robert Greenfield, the Technical Director at Consensys, which is the leading firm within the Blockchain and Cryptocurrency markets. 
        </p>
    </a>
</div>
<div class="col col-12 item">
    <a href=" https://www.sbhacks.com/">
        <h3>SB Hacks — January 11-13, 2019</h3>
        <p>BCUCSB partnered with SB Hacks to help coordinate UCSB’s annual hackathons where students spend 36 hours designing an innovative project. 
        At the event, BCUCSB members explained real-world blockchain applications and also encouraged students to explore incorporating blockchain models in their creative business ideas. On a speaker panel of industry leaders, we interviewed Robert Greenfield, the Technical Director at Consensys, which is the leading firm within the Blockchain and Cryptocurrency markets.</p>
    </a>
</div>
<div class="col col-12 item">
    <h3>Startup Weekend — January 18-21, 2019</h3>
    <p>BCUCSB helped sponsor Startup Weekend to encourage blockchain adoption in startup ideas.</p>
</div>
