{{ $googleSpreadSheetEndpoint := printf "%s%s%s" "https://spreadsheets.google.com/feeds/list/" $.Page.Site.Params.GoogleSpreadSheetId "/od6/public/values?alt=json" }}
{{ $json := getJSON $googleSpreadSheetEndpoint }}
{{ $entries := $json.feed.entry }}

<div id="events">
    {{ range $entry := $entries }}
      {{ $scratch := newScratch }}
      {{ range $key, $value := $entry }}
        {{ if hasPrefix $key "gsx"}}
          {{ $sanitizedKey := replaceRE "^gsx." "" $key }}
          {{ range $k, $v :=  $value }}
            {{ if (eq $sanitizedKey "imageurl") }}
              {{ $imageId := replaceRE "^https?://drive.google.com/file/d/(.*)/view.usp=sharing" "$1" $v }}
              {{ $v = printf "%s%s" "http://drive.google.com/uc?export=view&id=" $imageId }}
            {{ end }}
            {{ $scratch.Set $sanitizedKey $v }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $imageUrl := $scratch.Get "imageurl" }}
      {{ $link := $scratch.Get "link" }}
      {{ $title := $scratch.Get "title" }}
      {{ $description := $scratch.Get "description" }}
      <div class="is-col item">
          <a href="{{ $link }}">
              <div class="eyecatch-wrapper">
                  <img src="{{ $imageUrl | absURL }}" class="eyecatch">
              </div>
              <div class="content">
                  <h3 class="title">
                      {{ $title }}
                  </h3>
                  <div class="description is-muted">
                      {{ $description }}
                  </div>
              </div>
          </a>
      </div>
    {{ end }}
</div>
