<div class="is-col item hide-on-mobile">
    <div class="profile">
        <a href="{{ .link }}">
            <figure class="headshot">
                <img alt="headshot"  src="{{ .image | absURL }}">
            </figure>
            <p>{{ .position }}</p>
            <h4>{{ .name }}</h4>
        </a>
    </div>
</div>

<div class="is-col item is-50 show-on-mobile">
    <div class="profile">
        <a href="{{ .link }}">
            <figure class="headshot">
                <img alt="headshot"  src="{{ .image | absURL }}">
            </figure>
            <p>{{ .position }}</p>
            <h4>{{ .name }}</h4>
        </a>
    </div>
</div>

