<h2 class="">WHAT WE DO</h2>
<div class="row gutters first">
    <div class="col col-6 item">
        <h3>Regular Meetings and Workshops</h3>
        <p>BCUCSB holds regular meetings and workshops that cover numerous topics such as Solidity coding for developers, environmental applications of the blockchain, and app building. 
        </p>
    </div>
    <div class="col col-6 item">
        <h3>Speaker Events</h3>
        <p>In Progress</p>
    </div>
</div>
<div class="row gutters second">
    <div class="col col-6 item">
        <h3>Collaborate</h3>
        <p>BCUCSB partners with multiple campus organizations such as TMP (Technology Management Program), progressional fraternities, annual conventions to cohost events.
        </p>
        <p>We also collaborate with blockchain acceleration groups such as Consensys and Blockchain University for educational blockchain resources. 
        </p>
    </div>
    <div class="col col-6 item">
        <h3>Tickets to conferences & events</h3>
        <p>BCUCSB frequently offers its members free or discounted tickets to blockchain conferences, such as Crypto Invest Summit, Viva La Crypto!, and International Association for Cryptologic Research Crypto 2018 Conference.</p>
    </div>
</div>
