{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
    <div id="background-logo" style="background: rgba(255,255,255,1) url('{{ .Site.Params.banner | absURL }}') no-repeat center center; background-size: contain;">
        <div id="hero">
            <!--<h1>{{ .Title }}</h1>-->
            <!--<p>{{ .Site.Params.Description }}</p>-->
        </div>
    </div>
    <div id="what-we-do">
        <h2 class="">WHAT WE DO</h2>
        <div class="row gutters">
            <div class="col col-6 item">
                <h3>Regular Meetings and Workshops</h3>
                <p>BCUCSB holds regular meetings and workshops that cover numerous topics such as Solidity coding for developers, environmental applications of the blockchain, and app building. 
                </p>
            </div>
            <div class="col col-6 item">
                <h3>Speaker Events</h3>
                <p>hogehoge</p>
            </div>
        </div>
        <div class="row gutters">
            <div class="col col-6 item">
            <h3>Collaborate</h3>
            <p>BCUCSB partners with multiple campus organizations such as TMP (Technology Management Program), progressional fraternities, annual conventions to cohost events.
            </p>
            <p>We also collaborate with blockchain acceleration groups such as Consensys and Blockchain University for educational blockchain resources. 
            </p>
            </div>
            <div class="col col-6 item">
            <h3>Tickets to conferences & events</h3>
            <p>BCUCSB frequently offers its members free or discounted tickets to blockchain conferences, such as Crypto Invest Summit, Viva La Crypto!, and International Association for Cryptologic Research Crypto 2018 Conference.</p>
            </div>
        </div>
    </div>

    <div id="kube-features">
    <div class="row gutters">
        <div class="col col-6 item">
            <h3>Horizontal Rhythm</h3>
            <p>In Kube horizontal rhythm based on a 4px vertical grid is something that we are truly proud of.</p>
        </div>
        <div class="col col-6 item">
            <h3>Minimalism</h3>
            <p>We strongly believe in minimalism as a general concept as well as a practical approach to everyday life.</p>
        </div>
    </div>



    <div class="row gutters">
        <div class="col col-4 item">
            <h4>Mobile-first Design</h4>
            <p>Every element in kube is mobile-first and fully embraces latest and greatest tech.</p>
        </div>
        <div class="col col-4 item">
            <h4>Cross-browser</h4>
            <p>Kube works in all modern browsers, both desktop and mobile, including latest Chrome, Firefox, Safari, Opera, IE and Edge.</p>
        </div>
        <div class="col col-4 item">
            <h4>License</h4>
            <p>Kube licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.<br>
            Kube Framework is absolutely free for personal or commercial use.</p>
        </div>
    </div>
</div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}


