{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
    <div id="intro">
        <div class="rellax" data-rellax-speed="-4" data-rellax-zindex="0" id="background-logo" style="background: rgba(255,255,255,1) url('{{ .Site.Params.banner | absURL }}') no-repeat center center; background-size: contain;">
        </div>
    </div>

    <div id="what-we-do"></div>
    <div id="what-we-do-section" class="header-section">
        {{ partial "what-we-do" . }}
    </div>

    <div id="about-us" class="header-section anchor">
        {{ partial "about-us" . }}
    </div>

    <div id="meet-the-team" class="header-section anchor">
        <h2>MEET THE TEAM</h2>
        <h2 class="team-header">EXECUTIVE TEAM</h2>
        <div class="executive-team">
            {{ partial "executive-team" . }}
        </div>

        <h2 class="team-header" id="advisors">ADVISORS</h2>
        <div id="university-partners">
            <h3>University Partners</h3>
            <div class="is-row is-col-stack-20-mobile">
                <div class="is-col is-10 hide-on-mobile">
                </div>
                {{ range .Site.Params.Advisors }}
                <div class="is-col is-40 item hide-on-mobile">
                    <div class="profile">
                        <a href="{{ .link }}">
                            <figure class="headshot">
                                <img alt="headshot"  src="{{ .image | absURL }}">
                            </figure>
                            <p>{{ .position }}</p>
                            <h4>{{ .name }}</h4>
                        </a>
                    </div>
                </div>

                <div class="is-col item is-50 show-on-mobile">
                    <div class="profile">
                        <a href="{{ .link }}">
                            <figure class="headshot">
                                <img alt="headshot"  src="{{ .image | absURL }}">
                            </figure>
                            <p>{{ .position }}</p>
                            <h4>{{ .name }}</h4>
                        </a>
                    </div>
                </div>
                <!--{{ partial "profile-card" . }}-->
                {{ end }}
                <div class="is-col is-10 hide-on-mobile">
                </div>
            </div>
        </div>

        <h3 id="corporate-partners">Previous Partners</h3>
        <div class="slick" id="corporate-partners">
            {{ range .Site.Params.Partners }}
            {{ partial "corporate-card" . }}
            {{ end }}
        </div>
    </div>

    <div id="events" class="header-section anchor">
        {{ partial "events" . }}
    </div>

    <div id="calender" class="header-section anchor">
        <h2>CALENDER</h2>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ftkur0fvmvggr7q69vn17k9gfo%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" style="border-width:0; padding: 0px 20px; margin-top: 30px;" width="800" height="400" frameborder="0" scrolling="no"></iframe>
    </div>

    <div id="contact-us" class="header-section anchor">
        {{ partial "contact-us" . }}
    </div>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}


