{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
    <div class="rellax" data-rellax-speed="-6" data-rellax-zindex="0" id="background-logo" style="background: rgba(255,255,255,1) url('{{ .Site.Params.banner | absURL }}') no-repeat center center; background-size: contain;">
        <div id="hero">
            <!--<h1>{{ .Title }}</h1>-->
            <!--<p>{{ .Site.Params.Description }}</p>-->
        </div>
    </div>
    <div id="what-we-do"></div>
    <div id="what-we-do-section" class="header-section">
        {{ partial "what-we-do" . }}
    </div>

    <div id="about-us" class="header-section anchor">
        {{ partial "about-us" . }}
    </div>

    <div id="meet-the-team" class="header-section anchor">
        <h2>MEET THE TEAM</h2>
        <h2 class="team-header">EXECUTIVE TEAM</h2>
        <div class="row gutters">
            <div class="col col-3 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Ruben Dermoyan</h4>
                <p>President</p>
            </div>
            <div class="col col-3 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Mia Winther-Tamaki</h4>
                <p>Vice President</p>
            </div>
            <div class="col col-3 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Cameron Dennis</h4>
                <p>Head of External</p>
            </div>
            <div class="col col-3 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Cameron Dennis</h4>
                <p>Head of External</p>
            </div>
        </div>

        <h2 class="team-header advisors">ADVISORS</h2>
        <h3>University Partners</h3>
        <!--<div id="light-slider">-->
        <div class="row gutters">
            <div class="col col-4 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Rich Wolski</h4>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Trinabh Gupta</h4>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
                </figure>
                <h4>Rob Garrett</h4>
            </div>
        </div>

        <h3>Corporate Partners</h3>
        <div class="slick corporate-partners">
            <div class="col col-4 item">
                <!--<figure>-->
                <!--<img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">-->
                <!--</figure>-->
                <h4>Mousebelt</h4>
            </div>
            <div class="col col-4 item">
                <!--<figure>-->
                <!--<img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">-->
                <!--</figure>-->
                <h4>BAF</h4>
            </div>
            <div class="col col-4 item">
                <!--<figure>-->
                <!--<img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">-->
                <!--</figure>-->
                <h4>Uphold</h4>
            </div>
            <div class="col col-4 item">
                <!--<figure>-->
                <!--<img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">-->
                <!--</figure>-->
                <h4>Consensys</h4>
            </div>
        </div>
        </div>

        <div id="events" class="header-section anchor">
            {{ partial "events" . }}
        </div>

        <div id="contact-us" class="header-section anchor">
            {{ partial "contact-us" . }}
        </div>
    </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}


